body{
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
   
}

button {
    font-size: 1rem;
}

.number {
    text-align: right;
}

.centro {
    text-align: center;
}

fieldset {
    width: max-content;
}

input[type="number"] {
    width: 100px;
}

